{% extends 'layout.html' %}

{% block content %}

{% if data %}
<style type="text/css">
#purpose{
    background-color: "{{ class_colors['purpose'] }}"; 
    color: black;
}
#craftsmaship{
    background-color:  "{{ class_colors['craftsmaship'] }}";
    color: black;
}
#aesthetic{
    background-color: "{{ class_colors['aesthetic'] }}";
    color: black;
}
#narative{
    background-color: red;
    color: black;
}
#influence{
    background-color: reds;
    color: black;
}
#none{
    background-color: "{{ class_colors['none'] }}";
    color: black;
}
</style>
{% endif %}

<div class="row">
	<!-- Column for the form -->
	<div class="col-md-6 pl-4 py-3">
		<form method="POST" enctype="multipart/form-data" action="{{ url_for('test') }}">
			<fieldset class="form-group">
	           
	    	{{ predictionForm.hidden_tag() }}
	          
	        
	        <legend>Enter Text to Classify</legend>
			<div class="form-group">
			      
				{% if predictionForm.text_area.errors %}
				{{ predictionForm.text_area(class='form-control form-control-lg is-invalid') }}
				<div class="invalid-feedback">
			        {% for error in predictionForm.text_area.errors %}
			            <span>{{ error }}</span>
			        {% endfor %}
				</div>
			    {% else %}
			        {{ predictionForm.text_area(class='form-control form-control-lg') }}
			    {% endif %}
			 
			    {{ predictionForm.submit(class='btn btn-outline-dark my-3') }}
			</div>
			</fieldset>
		</form>
	</div>

	<!-- Column for the Output -->
	
	<div class="col-md-6 pl-4 py-3">
		<p>
	    	{% for i in data %}
	            <mark id="{{ i[2] }}"> {{ i[0] }}</mark>
	        {% endfor %}
    	</p>
    </div>
	
</div>
			

<div>
	<table>
		{% for j in data %}
			<tr>
				<td>{{ j[0] }}</td>
				<td>{{ j[1] }}</td>
				<!--td>{{ j[2] }}</td>
				<!--td>
					{{ correctClassForm.hidden_tag() }}
					{{ correctClassForm.dropdown }}
				</td-->
				<td>
					{{ j[3].hidden_tag() }}
					{{ j[3].dropdown }}
				</td>
			</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
